:root{
    --tq: #22c7af ;
    --bg: #000c0d;
    --dtq: #006a71;
    --shadow: 0 2px 2px rgb(0,0,0 / 0.5)
}
body {
    font-size : 1.2rem;
    font-family : 'Work Sans', sans-serif;
    min-height: 4000px;
}

.hero::before{
    content:'';
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
    background-image: url(img/head1.jpg);
    z-index: -1;
    background-size: cover; /* Ensures the image covers the entire header, even if it has to zoom */
    background-position: center; /* Centers the image within the header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.hero {
    position:relative;
    min-height: 100vh;
}

.hero h1 {
    font-family:'Sacramento', cursive;
    font-size:6rem;
    color: var(--dtq);
}

.hero h4 {
    font-size:1.6rem;
    color: var(--dtq);
}

.hero p {
    font-size:1.4rem;
    color: var(--dtq);
}

.hero a{
    color: var(--dtq);
    background-color: white;
    box-shadow: var(--shadow);
}
.hero a:hover {
    background-color: var(--dtq);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
}

.mynavbar .nav-link{
    text-transform: uppercase;
}

.home{
    background-image: url(img/home1.png);
    background-size: cover;
    background-blend-mode: color;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home h2, .story h2, .gallery h2, .rsvp h2, .gifts h2{
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    color:var(--dtq);
}

.home h3{
    font-size: 1.5rem;
    color:#444;
    margin-bottom:1rem;
    box-shadow: var(--shadow);
}

.home p{
    font-size: 1.1rem;
    color:#666;
    box-shadow: var(--shadow);
}

.home .couple{
    margin-top: 60px;   
}

.home .couple h3{
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--dtq);
}

.home .couple p{
    font-size: 1.1rem;
}

.home .couple img{
    width: 100%;
}

.home .heart{
    width: 50px;
    height: 50px;
    background-color: white;
    display:flex;
    position:absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left :50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i{
    margin: auto;
    color:#ff4591;
}

.info {
    background-color: var(--bg);
    color:white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.info h2{
    font-family: 'Sacramento',cursive;
    color: var(--tq);
    font-size: 5rem;
    font-weight: bold;
}
.info .alamat{
    font-size: 1.2rem;
}
.info .description{
    font-size: 1.1rem;
    font-weight: 300;
}
.info .btn{
    margin-bottom: 1rem;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border:1px solid #999
}

.info .card-header{
    border-bottom:1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-top:1px solid #999;
    font-weight: 300;
    font-size: 0.9rem;
}

.story, .rsvp{
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span, .gallery span, .gifts span{
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display:block;
    margin-bottom: 1rem;
}

.story p, .gallery p, .rsvp p, .gifts p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.timeline{
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}
.timeline::before{
    content:'';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li{
    margin-bottom: 1.5rem;
    position: relative;
}
.timeline li::before,
.timeline li::after{
    content:'';
    display:table;
}
.timeline li::after{
    clear:both;
}
.timeline li .timeline-image{
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.timeline li .timeline-panel{
    width: 40%;
    float: left;
    border:1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
}
.timeline li .timeline-panel::before{
    content:'';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    right:-15px;
    top:60px;
}
.timeline li .timeline-panel::after{
    content:'';
    display: inline-block;
    position: absolute;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    right:-13px;
    top:61px;
}
.timeline li.timeline-inverted .timeline-panel{
    width: 40%;
    float: right;
}
.timeline li.timeline-inverted .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 15px;
    left:-15px;
    right:auto;
}
.timeline li.timeline-inverted .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left:-14px;
    right:auto;
}

.gallery{
    background-color: #9ce8ee;
    padding-top: 9rem;
    padding-bottom: 8rem;
}

.rsvp{
    background-color: #000c0d;
}
.rsvp h2{
    font-size: 4.5rem;
}
.rsvp p{
    color: white;
}
.rsvp form label{
    color: white;
}
.rsvp button{
    background-color: var(--dtq);
    color: white;
    border: 1px solid var(--dtq);
}
.rsvp button:hover{
    background-color: white;
    color: var(--dtq);
    border: 1px solid white;
}
.gifts{
    padding-top: 9rem;
    padding-bottom: 8rem;
}

footer{
    padding:3rem;
    background-color: var(--tq);
    color: white;
}
footer a{
    color: #000c0d;
    font-weight: bold;
    text-decoration: none;
}

/* Media Query */
/* Xtra large */
@media(max-width:1200px){
    .home .heart{
        transform: translateX(-50%) translateY(45px);
    }
}
 
/* laptop */
@media(max-width:992px){
    html{
        font-size:75%;
    }
    .simply-countdown>.simply-section{
        padding: 70px;
    }
    .home .heart{
       display:none;
    }
    .timeline::before{
        left:60px;
    }
    .timeline li .timeline-image{
        left:15px;
        margin-left: 45px ;
    }
    .timeline li .timeline-panel, .timeline li.timeline-inverted .timeline-panel{
        width: calc((100% - 200px));
        float: right;
    }
    .timeline li .timeline-panel::before{
        border-left-width: 0;
        border-right-width: 15px;
        left:-15px;
        right: auto;
    }
    .timeline li .timeline-panel::after{
        border-left-width: 0;
        border-right-width: 14px;
        left:-13px;
        right: auto;
    }
}
/* tablet */
@media(max-width:768px){
    html{
        font-size:65%;
    }
    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }
    .mynavbar .offcanvas{
        min-height: 100vh;
    }
    .mynavbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }
    .sticky-top{
        overflow:hidden;
    }
    .timeline li .timeline-image{
        width: 140px;
        height: 140px;
    }
}
/* mobile phone */
@media(max-width:576px){
    html{
        font-size:60%;
    }
    .simply-countdown>.simply-section{
        padding: 35px;
        margin : 3px
    }
    .hero::before{
        background-image: url(img/head2.jpg);
        z-index: -1;
        background-size: cover; /* Ensures the image covers the entire header, even if it has to zoom */
        background-position: center; /* Centers the image within the header */
        background-repeat: no-repeat; /* Prevents the image from repeating */
    }
    .offcanvas-end{
        max-width: 100%;
    }
    .nav-link, .offcanvas-title{
        font-size: 80%;
    }
    .timeline li .timeline-image{
        width: 80x;
        height: 80px;
    }
    .timeline li .timeline-panel, .timeline li.timeline-inverted .timeline-panel{
        width: 65%;
        transform: translateX(-20px);
    }
    .timeline li .timeline-panel::before{
        top:30px;
    }
    .timeline li .timeline-panel::after{
        top:31px;
    }

}
