:root{
    --tq: #22c7af ;
    --bg: #000c0d;
    --dtq: #006a71;
    --shadow: 0 2px 2px rgb(0,0,0 / 0.5)
}
body {
    font-size : 1.2rem;
    font-family : 'Work Sans', sans-serif;
    min-height: 4000px;
}

.hero::before{
    content:'';
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
    background-image: url(img/head1.jpg);
    z-index: -1;
    background-size: cover; /* Ensures the image covers the entire header, even if it has to zoom */
    background-position: center; /* Centers the image within the header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.hero {
    position:relative;
    min-height: 100vh;
}

.hero h1 {
    font-family:'Sacramento', cursive;
    font-size:6rem;
    color: var(--dtq);
}

.hero h4 {
    font-size:1.6rem;
    color: var(--dtq);
}

.hero p {
    font-size:1.4rem;
    color: var(--dtq);
}

.hero a{
    color: var(--dtq);
    background-color: white;
    box-shadow: var(--shadow);
}
.hero a:hover {
    background-color: var(--dtq);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
}

.mynavbar .nav-link{
    text-transform: uppercase;
}

.home{
    background-image: url(img/home1.png);
    background-size: cover;
    background-blend-mode: color;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home h2{
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    color:var(--dtq);
}

.home h3{
    font-size: 1.5rem;
    color:#444;
    margin-bottom:1rem;
    box-shadow: var(--shadow);
}

.home p{
    font-size: 1.1rem;
    color:#666;
    box-shadow: var(--shadow);
}

.home .couple{
    margin-top: 60px;   
}

.home .couple h3{
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--dtq);
}

.home .couple p{
    font-size: 1.1rem;
}

.home .couple img{
    width: 100%;
}

.home .heart{
    width: 50px;
    height: 50px;
    background-color: white;
    display:flex;
    position:absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left :50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i{
    margin: auto;
    color:#ff4591;
}

.info {
    background-color: var(--bg);
    color:white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.info h2{
    font-family: 'Sacramento',cursive;
    color: var(--tq);
    font-size: 5rem;
    font-weight: bold;
}
.info .alamat{
    font-size: 1.2rem;
}
.info .description{
    font-size: 1.1rem;
    font-weight: 300;
}
.info .btn{
    margin-bottom: 1rem;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border:1px solid #999
}

.info .card-header{
    border-bottom:1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-top:1px solid #999;
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Query */
/* Xtra large */
@media(max-width:1200px){
    .home .heart{
        transform: translateX(-50%) translateY(45px);
    }
}
 
/* laptop */
@media(max-width:992px){
    html{
        font-size:75%;
    }
    .simply-countdown>.simply-section{
        padding: 70px;
    }
    .home .heart{
       display:none;
    }
}
/* tablet */
@media(max-width:768px){
    html{
        font-size:65%;
    }
    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }
    .mynavbar .offcanvas{
        min-height: 100vh;
    }
    .mynavbar .nav-link{
        font-size: 2rem;
        text-align: center;
        margin: 5px;
    }
    .sticky-top{
        overflow:hidden;
    }
}
/* mobile phone */
@media(max-width:576px){
    html{
        font-size:60%;
    }
    .simply-countdown>.simply-section{
        padding: 35px;
        margin : 3px
    }
    .hero::before{
        background-image: url(img/head2.jpg);
        z-index: -1;
        background-size: cover; /* Ensures the image covers the entire header, even if it has to zoom */
        background-position: center; /* Centers the image within the header */
        background-repeat: no-repeat; /* Prevents the image from repeating */
    }
}
